.header {}

.header__top {}

.header__container {}

.header__logo {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--color-primary);
}

.header__actions {}

.header__fav {}

.header__action {}

.header__cart {}

.header__enter {}

.header__bottom {}

.header__catalog {}

.header-btn {}

.header-btn__icon {}

.header-btn__angle {}

.header__collection {}

.input-reset {}

.header__phone {}