// .header {}

.header__top {
    padding-top: 20px;
    padding-bottom: 21px;
    border-bottom: 1px solid var(--color-neutral-muted);
}

.header__container {
    // display: grid;
    // grid-template-columns: auto 1fr minmax(169px, auto);
    display: flex;
    align-items: center;
}

.header__logo {
    position: relative;
    top: 2px;
    margin-right: 36px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--color-primary);
}

.header__actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 32px;

}

.header__fav,
.header__cart {
    width: 24px;
    height: 24px;
}

.header__action {
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--color-primary);
    transition: color 0.3s ease-in-out;

    .icon {
        fill: currentColor;
    }

    &:focus {
        outline: none;
    }

    &:focus-visible {
        outline: 2px solid currentColor;
        outline-offset: 3px;
    }

    @include hover {
        color: var(--color-secondary);
    }

    &:active {
        color: var(--color-primary-active);
    }
}

// .header__enter {}

.header__bottom {
    border-bottom: 1px solid var(--color-neutral-muted);
}

.header__catalog {
    margin-left: calc(-1 * var(--gap));
}

.header__collection {
    margin-right: 1px;
}

// .input-reset {}

.header__phone {
    font-size: 16px;
    line-height: 140%;
    color: var(--color-primary);
    margin-left: auto;

    &:focus {
        outline: none;
    }

    &:focus-visible {
        outline: 2px solid currentColor;
        outline-offset: 3px;
    }

    @include hover {
        color: var(--color-primary-hover);
    }

    &:active {
        color: var(--color-primary-active);
    }
}