<header class="header">
  <div class="header__top">
    <div class="container header__container">
      <a class="header__logo">Reel to real</a>
      <nav class="nav">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a class="nav__link link" href="shops.html">Магазины</a>
          </li>
          <li class="nav__item">
            <a class="nav__link link" href="contacts.html">Контакты</a>
          </li>
        </ul>
      </nav>
      <div class="header__actions">
        <a class="header__fav header__action link" href="#">
          <span class="visually-hidden">Перейти в избранное</span>
          <svg class="icon">
            <use xlink:href="img/sprite.svg#fav"></use>
          </svg>
        </a>
        <button class="header__cart header__action button">
          <span class="visually-hidden">Открыть корзину</span>
          <svg class="">
            <use xlink:href="img/sprite.svg#cart"></use>
          </svg>
        </button>
        <button class="header__enter header__action button">
          Войти
        </button>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container header__container">
      <button class="header__catalog header-btn button">
        <svg class="header-btn__icon">
          <use xlink:href="img/sprite.svg#burger"></use>
        </svg>
        Каталог
        <svg class="header-btn__angle">
          <use xlink:href="img/sprite.svg#angle"></use>
        </svg>
      </button>
      <button class="header__collection header-btn button">
        Коллекции
        <svg class="header-btn__angle">
          <use xlink:href="img/sprite.svg#angle"></use>
        </svg>
      </button>
      <form class="header-search" action="#">
        <label class="header-search__label">
          <svg class="header-search__icon">
            <use xlink:href="img/sprite.svg#search"></use>
          </svg>
          <input class="header-search__input input-reset" placeholder="Найти винил или аппаратуру" type="search">
        </label>
        <a class="header__phone" href="tel:88004567890">8-800-456-78-90</a>
      </form>
    </div>
  </div>
</header>