<section class="mini-cart">
    <div class="mini-cart__top">
        <div class="mini-cart__title">
            Корзина
            <span class="mini-cart__quantity">3</span>
        </div>
        <button class="mini-cart__close button" type="button">
            <span class="visually-hidden">Закрыть корзину</span>
            <svg class="icon">
                <use xlink:href="img/sprite.svg#close"></use>
            </svg>
        </button>
    </div>
    <div class="mini-cart__content">
        <div class="mini-cart__products"></div>

    </div>
    <div class="mini-cart__bottom">
        <div class="mini-cart__result">
            <div class="mini-cart__text-result">Итог</div>
            <div class="mini-cart__sum">210 210 ₽</div>
        </div>
        <a class="btn btn--primary" href="cart.html">В корзину</a>
    </div>
</section>